<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task Master</title>
  <style>
  body{
    margin:100;
    font-family:sans-serif;
  }

  .content{
    width:500px;
    margin:0 auto;
  }

  .form{
    margin:20px;
  }

  #content{
    width:350px;
  }

  th, td{
    width:200px;
    text-align:center;
  }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
